 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/IMG_20130822_093154_589.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  font-family: Calligraffitti;
  margin: 274px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 613px;
}

.u-section-2 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-2 .u-accordion-link-1 {
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  font-family: Calligraffitti;
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 169px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-2 .u-text-1 {
  line-height: 1.8;
  margin: 0;
}

.u-section-2 .u-accordion-link-2 {
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  font-family: Calligraffitti;
  padding: 30px;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 202px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  margin: 0;
}

.u-section-2 .u-accordion-link-3 {
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  font-family: Calligraffitti;
  padding: 30px;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 152px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-2 .u-text-3 {
  line-height: 1.8;
  margin: 0;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 511px;
  }

  .u-section-2 .u-icon-1 {
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
  }

  .u-section-2 .u-icon-2 {
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
  }

  .u-section-2 .u-icon-3 {
    height: 40px;
    width: 40px;
    color: rgb(255, 255, 255);
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/20180422_183308.jpg");
  background-position: 50% 31.19%;
}

.u-section-3 .u-sheet-1 {
  min-height: 594px;
}

.u-section-3 .u-group-1 {
  width: 762px;
  min-height: 314px;
  margin: 231px auto 49px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-family: trebuchet-ms;
  margin: 52px 20px 0;
}

.u-section-3 .u-line-1 {
  width: 80px;
  height: 8px;
  transform-origin: left center 0px;
  margin: 30px 341px 0;
}

.u-section-3 .u-text-2 {
  margin: 49px 10px 0 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-3 .u-group-1 {
    width: 628px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
  }

  .u-section-3 .u-line-1 {
    width: 66px;
    margin-right: 265px;
    margin-left: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 481px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    width: 50px;
    margin-right: 203px;
    margin-left: 203px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 451px;
  }

  .u-section-3 .u-line-1 {
    width: 47px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 45.58% 31.19%;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-line-1 {
    width: 40px;
  }
}